nav ul {
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Organiza os itens em linha */
    justify-content: center; /* Centraliza os itens */
    background-color: #f2f2f2;
    padding: 20px;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    text-decoration: none;
    color: #333;
  }